@import "tailwindcss";

@theme {
  /*************Main Colors*************/

  --color-primary: #4338ca;
  --color-primary-light: #5b5ff8;
  --color-primary-dark: #312e81;

  /***************BG Colors********/
  --color-back-primary: #fdfdfd;
  --color-back-secondary: #f9fafc;
  --color-back-white: #fefefe;

  --color-back-danger: #fee2e2;
  --color-back-danger-semiLight: #e54141;
  --color-back-danger-dark: #e32222;
  --color-back-success: #d1fae5;
  --color-back-success-dark: #1dc46f;
  --color-back-warning: #fef3c7;
  --color-back-warning-dark: #ffcc00;
  --color-back-info: #dbeafe;

  /*************Sidebar*****************/
  --color-back-sidebar-primary: #111c32;
  --color-back-sidebar-hover: #272c5a;
  --color-back-sidebar-active: #15545c;

  /*************Status Colors***********/
  --color-state--danger: #ef4444;
  --color-state--success: #07944e;
  --color-state--warning: #f59e0b;
  --color-state--info: #3b82f6;
}
